<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= t('name_of_the_member') + ": " + @member.full_name.to_s %></b>	
  </div>
 
   <%= f.hidden_field :member_id %>
 
  <div class="field">
    <%= t('first_name') %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= t('last_name') %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= t('enrolement_grade') %><br />
    <%= f.text_field :klasse_bei_eintritt %>
  </div>
  <div class="field">
    <%= t('enrolement_date') %><br />
    <%= f.date_select :enrolement_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
