<h1><%= t('list_children') %></h1>

<table>
  <tr>
    <th><%= t('member') %></th>
    <th><%= t('last_name') %></th>
    <th><%= t('first_name') %></th>
    <th><%= t('enrolement_grade') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%= child.member_id %></td>
    <td><%= child.last_name %></td>
    <td><%= child.first_name %></td>
    <td><%= child.klasse_bei_eintritt %></td>
    <td><%= link_to t('show'), child %></td>
    <td><%= link_to t('edit'), edit_child_path(child) %></td>
    <td><%= link_to t('destroy'), child, method: :delete, data: { confirm: t('are_you_sure') } %></td>
  </tr>
<% end %>
</table>
