<p id="notice"><%= notice %></p>

<p>
	<b><%= t('name_of_the_member') + ": " + @member.full_name.to_s %></b>	
</p>

<p>
  <b><%= t('first_name') %>:</b>
  <%= @child.first_name %>
</p>

<p>
  <b><%= t('last_name') %>:</b>
  <%= @child.last_name %>
</p>

<p>
  <b><%= t('enrolement_grade') %></b>
  <%= @child.klasse_bei_eintritt %>
</p>

<p>
  <b><%= t('current_grade') %>:</b>
  <%= @child.current_class %>
</p>

<p>
  <b><%= t('enrolement_date') %>:</b>
  <%= l(@child.enrolement_date) %>
</p>



<%= link_to t('edit'), edit_child_path(@child) %> |
<%= link_to t('back_to_parent_dataset'), member_path(@child.member_id) %>
