<h1><%= t('list_membership_fees') %></h1>

<table>
  <tr>
    <th><%= t('name_of_the_member') %></th>
    <th><%= t('school_year') %></th>
    <th><%= t('membership_fee') %></th>
    <th><%= t('payment_date') %></th>
    <th><%= t('payment_method') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @membership_fees.each do |membership_fee| %>
  <tr>
    <td><%= membership_fee.member_name %></td>
    <td><%= membership_fee.school_year %></td>
    <td><%= number_to_currency(membership_fee.fee) %></td>
    <td><%= l(membership_fee.payment_date) %></td>
    <td><%= t(membership_fee.payment_method) %></td>
    <td><%= link_to t('show'), membership_fee %></td>
    <td><%= link_to t('edit'), edit_membership_fee_path(membership_fee) %></td>
    <td><%= link_to t('destroy'), membership_fee, method: :delete, data: { confirm: t('are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />
