<p id="notice"><%= notice %></p>

<p>
  <b><%= t('name_of_the_member') + ": " + @membership_fee.member_name %></b>
</p>

<p>
  <b><%= t('school_year') + ": " + @membership_fee.school_year %></b>
</p>

<p>
  <b><%= t('membership_fee') %>:</b>
  <%= number_to_currency(@membership_fee.fee) %>
</p>

<p>
  <b><%= t('payment_date') %>:</b>
  <%= l(@membership_fee.payment_date) %>
</p>

<p>
  <b><%= t('payment_method') %>:</b>
  <%= t(@membership_fee.payment_method) %>
</p>


<%= link_to t('edit'), edit_membership_fee_path(@membership_fee) %>
