<%= form_for(@bank_account) do |f| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
      <% @bank_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= t('name_of_the_member') + ": " + @member.full_name.to_s %></b>	
  </div>
  <div class="field">
    <%= t('bank_code') %><br />
    <%= f.text_field :bank_code %>
  </div>
  <div class="field">
    <%= t('account_number') %><br />
    <%= f.text_field :account_number %>
  </div>
  <div class="field">
    <%= t('bank_name') %><br />
    <%= f.text_field :bank_name %>
  </div>
  <div class="field">
    <%= t('account_holder') %><br />
    <%= f.text_field :account_holder %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
