<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @bank_account.member_id %>
</p>

<p>
  <b><%= t('bank_code') %>:</b>
  <%= @bank_account.bank_code %>
</p>

<p>
  <b><%= t('account_number') %>:</b>
  <%= @bank_account.account_number %>
</p>

<p>
  <b><%= t('bank_name') %>:</b>
  <%= @bank_account.bank_name %>
</p>

<p>
  <b><%= t('account_holder') %></b>
  <%= @bank_account.account_holder %>
</p>


<%= link_to t('edit'), edit_bank_account_path(@bank_account) %> |
<%= link_to t('list_bank_accounts'), bank_accounts_path %>
