<h1><%= t('list_school_years') %></h1>

<table>
  <tr>
    <th><%= t('start_date') %></th>
    <th><%= t('end_date') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @school_years.each do |school_year| %>
  <tr>
    <td><%= l school_year.start_date %></td>
    <td><%= l school_year.end_date %></td>
    <td><%= link_to t('show'), school_year %></td>
    <td><%= link_to t('edit'), edit_school_year_path(school_year) %></td>
    <td><%= link_to t('destroy'), school_year, method: :delete, data: { confirm: t('are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('new_school_year'), new_school_year_path %>
