<h1><%= t('list_members') %></h1>

<%= search_form_for @search do |f| %>
<div class="field">
	<%= f.label :payment_method_matches, t("payment_method") %>
	<%= f.select :payment_method_matches, Member::payments %>
</div>
<div class="field">
	<%= f.label :last_name_cont, t("last_name") %>
	<%= f.text_field :last_name_cont %>
</div>
<div class="field">
	<%= f.label :bank_account_bank_code_null, t("present") %>
	<%= f.check_box :bank_account_bank_code_null %>
</div>
<div class="actions"><%= f.submit "Search"%></div>
<% end %>

<%= form_for :search2, :method => :get do |f|  %>
    <div class="field">
      <%= f.label :tardy, "tardy" %>
      <%= f.check_box :tardy %>
    </div>
    <div class="actions"><%= f.submit "Search"%></div>
<% end %>

<%= link_to t('new'), new_member_path %>
<table>
  <tr>
	<th></th>
    <th><%= t('last_name') %></th>
	<th><%= t('first_name') %></th>
    <th><%= t('street') %></th>
	<th><%= t('place') %></th>
    <th><%= t('phone') %></th>
    <th><%= t('email') %></th>
    <th><%= t('membership_fee') %></th>
	<th><%= t('payment_method') %></th>
	<th><%= t('enrolement_date') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each_with_index do |member, index| %>
    <tr class="<%= member.payment_for_current_year.exists? ? 'list_line_payed' : 'list_line_not_payed'  %>">
    <td><%= index+1 %></td>	  
    <td><%= member.last_name %></td>
	<td><%= member.first_name %></td>
    <td><%= member.street %></td>
	<td><%= member.postcode %> <%= member.town %></td>
    <td><%= member.phone %></td>
    <td><%= member.email %></td>
    <td><%= number_to_currency(member.beitrag) %></td>
	<td><%= (t member.payment_method) if !member.payment_method.nil? && !member.payment_method.empty? %></td>
	<td><%= (l member.eintrittsdatum) if !member.eintrittsdatum.nil? %></td>
    <td class="list_actions">
		<%= link_to t('show'), member %>
    <%= link_to t('edit'), edit_member_path(member) %>
    <%= link_to t('delete'), member, method: :delete, data: { confirm: t('are_you_sure') } %>
	</td>
  </tr>
<% end %>
</table>

<br />
