<p id="notice" style="<%='display:none' if notice.nil?%>"><%= notice %></p>

<p>
  <b><%= t('first_name')%></b>
  <%= @member.first_name %>
</p>

<p>
  <b><%= t('last_name')%></b>
  <%= @member.last_name %>
</p>

<p>
  <b><%= t('phone')%></b>
  <%= @member.phone %>
</p>

<p>
  <b><%= t('email')%></b>
  <%= @member.email %>
</p>

<p>
  <b><%= t('street')%></b>
  <%= @member.street %>
</p>

<p>
  <b><%= t('postcode')%></b>
  <%= @member.postcode %> <%= @member.town %>
</p>

<p>
  <b><%= t('membership_fee')%></b>
  <%= number_to_currency(@member.beitrag) %> <%= t(@member.payment_period) if !@member.payment_period.nil? %> <%= t(@member.payment_method) if !@member.payment_method.nil? %>
</p>

<p>
  <b><%= t('enrolement_date')%></b>
  <%= l(@member.eintrittsdatum) if !@member.eintrittsdatum.nil? %>
</p>
<% unless @member.bank_account.nil? %>
    <p>
      <b>BLZ:</b><%=@member.bank_account.bank_code%><b> Konto Nr:</b><%=@member.bank_account.account_number%><b> Name der Bank:</b><%=@member.bank_account.bank_name%> <%= link_to t('.edit_bank_account'), edit_bank_account_path(@member.bank_account.id) %>
    </p>
<% end %>

<p><b><%= t('list_children')%></b>
<table>
    <%=  render(@member.children) %>
</table>
<p><b><%= t('list_membership_fees')%></b>
<table>
<%=  render(@member.membership_fees) %>
</table>
<%= link_to t('edit'), edit_member_path(@member) %> |
<%= link_to t('back'), members_path %> |
<%= link_to t('.add_child'), new_member_child_path(@member) %>
<%= link_to t('.add_bank_account'), new_member_bank_account_path(@member.id) if @member.bank_account.nil?%>
<%= link_to t('add_membership_fee'), new_member_membership_fee_path(@member.id) %>