<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @member.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Street:</b>
  <%= @member.street %>
</p>

<p>
  <b>Postcode:</b>
  <%= @member.postcode %> <%= @member.town %>
</p>

<p>
  <b>Beitrag:</b>
  <%= @member.beitrag %>
</p>

<p>
  <b>Eintrittsdatum:</b>
  <%= @member.eintrittsdatum %>
</p>

<table>
  <tr>
    <th>First name</th>
	<th>Last name</th>
    <th>Klasse</th>
  </tr>

<% @member.children.each do |child| %>
  <tr class="<%= cycle( 'list_line_odd', 'list_line_even')%>">
	<td><%= child.first_name %></td>
    <td><%= child.last_name %></td>
    <td><%= child.klasse_bei_eintritt %></td>
    
  </tr>
<% end %>

<% unless @member.bank_account.nil? %>
<p>
	<b>BLZ: </></b><%=@member.bank_account.blz%><b> Konto Nr: </></b><%=@member.bank_account.account_number%><b> Name der Bank: </></b><%=@member.bank_account.bank_name%>
</p>
<% end %>
</table>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %> |
<%= link_to 'Add child', new_member_child_path(@member.id) %>
<%= link_to 'Set bank account', new_member_bank_account_path(@member.id) %>
